In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

# Changed Namimbia's Country Abbreviation from NA to NM because it switched NA to NaN

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Longyearbyen,SJ,11/5/2021 23:10,78.2186,15.6401,12.04,73,40,3.44
1,1,Samarinda,ID,11/5/2021 23:14,-0.5000,117.1500,75.85,95,85,0.67
2,2,Hobart,AU,11/5/2021 23:14,-42.8794,147.3294,70.02,60,75,1.99
3,3,Punta Arenas,CL,11/5/2021 23:14,-53.1500,-70.9167,53.71,58,75,28.77
4,4,Aklavik,CA,11/5/2021 23:14,68.2191,-135.0107,20.12,98,92,4.14
5,5,Hambantota,LK,11/5/2021 23:14,6.1241,81.1185,77.92,84,99,13.13
6,6,Vaini,TO,11/5/2021 23:14,-21.2000,-175.2000,82.56,89,40,10.36
7,7,Khorixas,NM,11/5/2021 23:14,-20.3667,14.9667,68.07,29,30,0.72
8,8,Whitehorse,CA,11/5/2021 23:14,60.7161,-135.0538,35.02,86,98,10.00
9,9,Mount Gambier,AU,11/5/2021 23:14,-37.8333,140.7667,55.33,94,100,8.28

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Samarinda,ID,11/5/2021 23:14,-0.5000,117.1500,75.85,95,85,0.67
5,5,Hambantota,LK,11/5/2021 23:14,6.1241,81.1185,77.92,84,99,13.13
6,6,Vaini,TO,11/5/2021 23:14,-21.2000,-175.2000,82.56,89,40,10.36
18,18,Natal,BR,11/5/2021 23:14,-5.7950,-35.2094,81.25,83,0,10.36
31,31,Kapaa,US,11/5/2021 23:14,22.0752,-159.3190,82.38,74,75,1.01
33,33,Sur,OM,11/5/2021 23:14,22.5667,59.5289,75.31,60,60,7.02
35,35,Butaritari,KI,11/5/2021 23:14,3.0707,172.7902,82.42,71,14,12.64
42,42,Sibolga,ID,11/5/2021 23:15,1.7427,98.7792,75.70,90,100,1.45
46,46,Axim,GH,11/5/2021 23:15,4.8699,-2.2405,78.24,87,17,5.93
47,47,Ranong,TH,11/5/2021 23:15,9.9658,98.6348,75.13,89,100,4.16

In [23]:
len(preferred_cities_df)

153

In [24]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    Samarinda      ID     75.85  -0.5000  117.1500
5   Hambantota      LK     77.92   6.1241   81.1185
6        Vaini      TO     82.56 -21.2000 -175.2000
18       Natal      BR     81.25  -5.7950  -35.2094
31       Kapaa      US     82.38  22.0752 -159.3190
33         Sur      OM     75.31  22.5667   59.5289
35  Butaritari      KI     82.42   3.0707  172.7902
42     Sibolga      ID     75.70   1.7427   98.7792
46        Axim      GH     78.24   4.8699   -2.2405
47      Ranong      TH     75.13   9.9658   98.6348

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Samarinda,ID,75.85,-0.5000,117.1500,Aston Samarinda Hotel & Convention Center
5,Hambantota,LK,77.92,6.1241,81.1185,Bungalow 63
6,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
18,Natal,BR,81.25,-5.7950,-35.2094,Villa Park Hotel | Natal
31,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
33,Sur,OM,75.31,22.5667,59.5289,Sur Plaza Hotel
35,Butaritari,KI,82.42,3.0707,172.7902,Isles Sunset Lodge
42,Sibolga,ID,75.70,1.7427,98.7792,Hotel Syariah CN Darussalam
46,Axim,GH,78.24,4.8699,-2.2405,Axim Beach Resort And Spa
47,Ranong,TH,75.13,9.9658,98.6348,Tinidee Hotel@Ranong

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))